$white: #fff;
$black: #2e2e41;
$primary: #33c08a;

$soehne400: "soehne400";
$soehne700: "soehne700";
$quincy: "quincy";

$boxShadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
