@font-face {
  font-family: "soehne400";
  src: url("../fonts/soehne400.eot") format("eot"),
    url("../fonts/soehne400.woff") format("woff");
}

@font-face {
  font-family: "soehne700";
  src: url("../fonts/soehne700.eot") format("eot"),
    url("../fonts/soehne700.woff") format("woff");
}

@font-face {
  font-family: "quincy";
  src: url("../fonts/quincy.otf");
}
